<%= link_to "Posts Index", posts_path %>

<h1>Notifications</h1>
<ul>
  <% @notifications.each do |notification| %>
    <li>
      <% if notification.read_status %>
        <%= notification.message %>
      <% else %>
        <strong><%= notification.message %></strong>
        <%= link_to 'Mark as Read', mark_as_read_notification_path(notification), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
