<br>
<h1>Your Friends</h1>
 <%= link_to 'Friend Requests', received_friend_requests_path, class: 'btn btn-outline-info rounded-0' %>

<ul>
  <% @friendships.each do |friendship| %>
    <li>
      <p>Friend: <%= friendship.friend.name %></p>
      <p>Friend: <%= friendship.friend.email %></p>

    </li>
  <% end %>
</ul>

      