<h1>Your Friends</h1>

<ul>
  <% @friendships.each do |friendship| %>
    <li>
      <p>Friend: <%= friendship.friend.name %></p>
      <p>Friend: <%= friendship.friend.email %></p>

    </li>
  <% end %>
</ul>
