<br>
<h1>Received Friend Requests</h1>

<ul>
  <% @received_requests.each do |received_request| %>
    <li>
      <p>Sender: <%= received_request.sender.name %></p>
      <%= link_to 'Accept', accept_friend_request_path(received_request), method: :patch %>
    </li>
  <% end %>
</ul>

<%= link_to 'View Friends', friendship_index_path %>
