<br>
<div style="text-align:center">
<h2>EDIT POST</h2>
</div>
<%= render 'posts/form',post: @post%>

<style>
body {
  background-image: url('/assets/fb.webp');
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-position: center center;
  width: 100%;
  height: 100vh;
  margin: 0;
}
</style>
